.footer {
  width: 100%;
  padding: 2rem 4rem;
  background: var(--color-white);
  flex-wrap: wrap;
  gap: 2rem;
  overflow: hidden;
}
.footer__logo {
  font-size: 2.4rem;
  font-weight: bold;
  font-family: var(--playfair-display);
  text-transform: uppercase;
  color: var(--secondary-color);
  cursor: pointer;
}
.footer__logo span {
  color: var(--primary-color);
}
.footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 6.4rem;
}
.footer ul:last-child {
  gap: 3.2rem;
}
.footer__nav li {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  text-transform: uppercase;
  color: var(--secondary-color);
  cursor: pointer;
  align-items: center;
  display: flex;
 
}
.footer__nav li:hover {
  color: var(--primary-color);
  font-weight: bold;
 
}
.footer__nav img {
  width: 2.4rem;
  object-fit: contain;
}

.footer__social li {
  width: 4.2rem;
  height: 4.2rem;
  background-color: var(--secondary-color);
  border-radius: 50%;
}
.footer__social li img {
  width: 45%;
  height: 45%;
  object-fit: contain;
}

@media screen and (max-width: 76.8rem) {
  .footer {
    flex-direction: column;
  }
}
@media screen and (max-width: 55rem) {

  .footer__nav li {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
